@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* FULLSCREEN LOADER */
#loaderScreen {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

/* Animation */
.eye {
  width: 20px; height: 8px;
  background-color: rgba(240,220,220,1);
  border-radius: 0 0 20px 20px;
  position: relative; left: 10px; top: 40px;
  box-shadow: 40px 0 0 rgba(240,220,220,1);
}

.head {
  position: relative;
  margin: -250px auto;
  width: 80px; height: 80px;
  background:#111; border-radius:50px;
  box-shadow: inset -4px 2px 0 rgba(240,220,220,1);
  animation: headAnim 1.5s infinite alternate ease-out;
}

.body {
  font-family: "IBM Plex Sans", sans-serif;;
  position: relative;
  margin: 90px auto;
  width: 140px; height:120px;
  background:#111;
  border-radius:50px/25px;
  box-shadow: inset -5px 2px 0 rgba(240,220,220,1);
  animation: bodyAnim 1.5s infinite alternate ease-out;
}

@keyframes headAnim {0%{top:0;}50%{top:10px;}100%{top:0;}}
@keyframes bodyAnim {0%{top:-5px;}50%{top:10px;}100%{top:-5px;}}

.circ {
  margin: 60px auto;
  width: 180px; height: 180px;
  border-radius:0 0 50px 50px;
  position: relative; overflow:hidden;
}

.hands {
  margin-top:140px; width:120px; height:120px;
  position:absolute; background:#111;
  border-radius:20px;
  box-shadow:-1px -4px 0 rgba(240,220,220,1);
  transform:rotate(45deg);
  top:75%; left:16%; z-index:1;
  animation: bodyAnim 1.5s infinite alternate ease-out;
}

.load {
  font-family: "Caveat", cursive;;
  position:absolute;
  width:7ch; height:32px;
  text-align:left; line-height:32px;
  font-size:38px; color:#000;
  font-weight: bold;
  left:2%; top:5%;
  animation: fontAnim 3.75s infinite ease-out;
  overflow:hidden;
}
@keyframes fontAnim {
  0%{width:7ch;} 16%{width:8ch;} 32%{width:9ch;}
  48%{width:10ch;} 64%{width:11ch;}
  80%{width:12ch;} 100%{width:13ch;}
}

/* MAIN PAGE */
body {font-family:"IBM Plex Sans", sans-serif;; background:#f1f1f1; text-align:center; padding-top:80px;}
input {padding:10px; font-size:18px;}
button {padding:10px 18px; font-size:18px; cursor:pointer;}
.boxes {margin-top:40px; display:flex; justify-content:center; gap:20px;}
.box {background:white; padding:20px; border-radius:8px; width:150px; box-shadow:0 0 8px #aaa; font-size:20px;}


.container{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.word{
  display: flex;
  justify-content: center;
  align-items: center;
}

input#userWord {
  width: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
}

input#userWord:focus{
    outline: none;
}