@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .3rem;
}

#countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .3rem;
}

.countdown-box {
    width: 337px;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}


#countdownInt {
    font-size: 24px;
    font-weight: bold;
}

#countdownTotal {
    font-size: 24px;
    font-weight: bold;
}


#calendar {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

.event {
    padding: 8px;
    margin: 5px 0;
    border-left: 4px solid #007bff;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

.month {
    min-width: 337px;
    background: white;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

.month h2 {
    text-align: center;
    margin-bottom: 10px;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
}

.weekdays div {
    font-size: 12px;
    color: gray;
}

.days div{
    padding:8px;
    margin:2px;
    border-radius: 50%;
    cursor: pointer;
}


.day {
    transition: all 0.2s;
}


/* Jours (nombres) en grand */
.days div {
    font-size: 20px; /* grand texte */
    text-align: center;
    margin: 2px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border-radius: 4px;
}



.empty {
    background: transparent;
}





.res-container {
    text-align: center;
    margin-top: 20px;
    line-height: 1.4;
}

/* Top big MONTH number */
.res-month {
    font-size: 100px;
    font-weight: bold;
    color: #2c3e50;
}

.label-month {
    font-size: 50px;
    margin-right: 10px;
}

/* Middle row */
.res-middle {
    margin-top: 5px;
}

.res-weeks, .res-days {
    font-size: 28px;
    font-weight: bold;
    color: #34495e;
    margin: 0 6px;
}

.label-weeks, .label-days {
    font-size: 18px;
}

/* Bottom total days (VERY BIG) */
.res-total {
    font-size: 55px;
    font-weight: bold;
    color: #8e44ad;
}

.label-total {
    font-size: 20px;
}

.day-today {
    border: 3px solid #ffcc00 !important;
    opacity: 1 !important;
}

